@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
	margin: 0;
	padding: 0;
	font-family: "Arial", Arial, sans-serif;
}

h1, h2, h3 {
	font-weight: bold;
	margin-bottom: 1em;
}

h1 {
	font-size: 3em;
	line-height: 1.2em;
}

p {
	margin-bottom: 1em;
}

a:not(.title) {
	color: rgba(40, 123, 217, 1);
}

a h1 {
	text-decoration: none;
}

ol {
  list-style-type: decimal;
	margin-bottom: 1.5em;
}

li {
	margin-bottom: 0.5em;
	margin-left: 1em;
}

li:last-child {
	margin-bottom: 0em;
}